<html>
<head>
   <title>Lobby</title>
   <script src="/js/network.js"></script>
   <script src="/js/ui.js"></script>
   <script src="/js/chat/lobby.js"></script>

   <link rel="stylesheet" href="/css/common.css"></link>
   <link rel="stylesheet" href="/css/chat/lobby.css"></link>

   <link rel="icon" type="image/png" href="/assets/bari_icon.png" />
</head>
<body>
   <div id="divchatlobby"></div>
<script>
<!--
var chatlobby = new ChatLobby(document.getElementById("divchatlobby"));
-->
</script>
</body>
</html>
