<html>
<head>
   <title>Lobby</title>
   <script src="/js/ui.js"></script>
   <script src="/js/ui_notifications.js"></script>
   <script src="/js/network.js"></script>
   <script src="/js/chat/lobby.js"></script>
   <script src="/js/dirty7/lobby.js"></script>
   <script src="/js/durak/lobby.js"></script>
   <script src="/js/taboo/lobby.js"></script>

   <link rel="stylesheet" href="/css/common.css"></link>
   <link rel="stylesheet" href="/css/lobby.css"></link>
   <link rel="stylesheet" href="/css/chat/lobby.css"></link>
   <link rel="stylesheet" href="/css/dirty7/lobby.css"></link>
   <link rel="stylesheet" href="/css/taboo/lobby.css"></link>

   <link rel="icon" type="image/png" href="/assets/bari_icon.png" />
</head>
<body>
   <div id="divnotifications"></div>
   <div class="floatright right lobby_project_source">
      <b>Source</b><br>
      <a href="https://github.com/sbirmi/bari" target="_blank">Backend</a><br>
      <a href="https://github.com/sbirmi/bari-web-ui" target="_blank">Web UI</a>
   </div>
   <table>
      <tr>
         <td class="top"><div id="divdirty7lobby"></div></td>
         <td class="top"><div id="divDurakLobby"></div></td>
         <td class="top"><div id="divTaboolobby"></div></td>
         <td class="top"><div id="divchatlobby"></div></td>
      </tr>
   </table>
<script>
<!--
var notifications = new UiNotifications(document.getElementById("divnotifications"),
                                        2000, "notifications_table");
var chatlobby = new ChatLobby(document.getElementById("divchatlobby"));
var d7lobby = new Dirty7Lobby(document.getElementById("divdirty7lobby"),
                              notifications);
var duraklobby = new DurakLobby(document.getElementById("divDurakLobby"),
                              notifications);
var tabooLobby = new TabooLobby(document.getElementById("divTaboolobby"),
                              notifications)
-->
</script>
</body>
</html>
