<!DOCTYPE html>
<html lang="en">
<head>
   <title>Dirty7 rules</title>

   <link rel="stylesheet" href="/css/taboo/help.css">

   <link rel="icon" type="image/png" href="/assets/taboo_icon.png" />
</head>

<body>

<h1>Taboo</h1>

<ol>
   <li><b>Objective.</b> Your team to win by scoring the highest number of points.
   </li>

   <li><b>Turn.</b> The game is played in turns by each player in each team. Each turn is for the same duration of time; the active player should try to complete as many tasks successfully as possible.
   </li>

   <li><b>The task.</b> The current player receives a secret word and a list of tabooed words. The player must try to get its team members to say the secret word by giving verbal clues. The catch: the player must not use any of the tabooed words!
   </li>

   <li>The secret word is visible to all other teams for fun and to ensure correct play.
   </li>

   <li><b>Dos and Don'ts.</b>
      <ol>
         <li>This game is not charades. No gestures!
         </li>

         <li>Use words/sentences to give hints. No sound effects. Example: mimicing engine sounds for vehicles.
         </li>

         <li>No spelling the word. Can't use/convey parts of the word. Example: can't use "Blank" if "Blanket" is in the secret or tabooed list.
         </li>

         </li>No sounds like.

         <li>Can't use acronyms or expanded versions of words.
         </li>

         <li>Can't use immediate variants of the word such as tables, tabular, or tabled when the secreted/disallowed word is "tabled". Synonyms are okay!
         </li>

         <li>Stick to communicating in a language that all can understand. Duh!
         </li>

         <li>The player can skip the current card if desired. This awards 1 point immediately to the other team(s)
         </li>
      </ol>
   </li>

   <li><b>Scoring.</b> Successful/failed execution of the task is self scored by the player and on honor system. Listen to dissent expressed by other teams!
   </li>

</ol>

<p>Have fun!</p>

</body>
</html>

