<html>
<head>
   <title>Taboo room #{{gid}}</title>
   <script src="/js/ui.js"></script>
   <script src="/js/ui_notifications.js"></script>
   <script src="/js/network.js"></script>
   <script src="/js/taboo/events.js"></script>
   <script src="/js/taboo/room.js"></script>

   <link rel="stylesheet" href="/css/common.css"></link>
   <link rel="stylesheet" href="/css/taboo/room.css"></link>

   <link rel="icon" type="image/png" href="/assets/taboo_icon.png" />

</head>

<body class="taboo_page">
   <div id="divtaboo"></div>

   <script>
   <!--
   var room = new TabooRoom({{gid}}, document.getElementById("divtaboo"));
   -->
   </script>
</body>
</html>
