<html>
<head>
   <title>Chat room #{{gid}}</title>
   <script src="/js/network.js"></script>
   <script src="/js/ui.js"></script>
   <script src="/js/chat/room.js"></script>

   <link rel="stylesheet" href="/css/chat/room.css"></link>

   <link rel="icon" type="image/png" href="/assets/chat_icon.png" />
</head>

<body onload="onpageload();">
   <div id="divchat"></div>
<script>
<!--
function onpageload() {
   var room = new ChatRoom({{gid}}, document.getElementById("divchat"));
}
-->
</script>
</body>
</html>
