/* page level */

.d7_page {
   border-collapse: collapse;
   padding: 0px;
   margin: 0px;
   overflow-x: hidden;
}

/* round parameters */
.d7_round_params {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 250px;

   background-color: orange;
   padding: 5px;
   border-radius: 0px 0px 10px 0px;
}

/* banners related */
.d7_disconnected {
   text-align: center;
   padding: 15px;
   background-color: rgb(200, 200, 200);
   margin-top: 10px;
   margin-bottom: 10px;
}

.d7_game_over {
   text-align: center;
   padding: 15px;
   background-color: rgb(200, 200, 200);
   margin-top: 10px;
   margin-bottom: 10px;
}

/* notifications */
.d7_notifications_table {
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   z-index: 1000;
   padding: 5px;
   border-spacing: 10px;
}

.d7_notification_info {
   background-color: rgba(200, 255, 200, 0.8);
   border-radius: 10px;
   text-align: center;
   padding: 10px;
   filter: drop-shadow(2px 2px 2px #a0a0a0);
}

.d7_notification_move {
   background-color: rgba(200, 200, 255, 0.8);
   border-radius: 10px;
   text-align: center;
   padding: 10px;
   filter: drop-shadow(2px 2px 2px #a0a0a0);
}

.d7_notification_error {
   background-color: rgba(255, 200, 200, 0.8);
   border-radius: 10px;
   text-align: center;
   padding: 10px;
   filter: drop-shadow(2px 2px 2px #a0a0a0);
}

/* login bar related */

.d7_login_bar {
   width: 100%;
   text-align: center;
   background: orange;
   padding: 10px;
}

.d7_login_bar_text {
   padding: 10px;
}

.d7_login_bar_input {
   margin-right: 40px;
   width: 150px;
}

/* common board related */

.d7_board {
   width: 950px;
   height: 450px;
}

/* player board related */

.d7_player_board {
   width: 950px;
}

@keyframes d7_turn_blink {
   0%, 100% { background-color: rgb(128, 255, 128); }
   50%      { background-color: rgb(255, 128, 128); }
}

.d7_player_turn {
   border-radius: 15px;
   animation: d7_turn_blink 3s infinite;
}

.d7_player_text_pane {
   width: 250px;
}

.d7_player_info {
   width: 250px;
}

.d7_player_turn_btn {
   -webkit-appearance: default-button;
   width: 120px;
   height: 120px;
   border-radius: 40px;
}

/* Score board */
.d7_score_board {
   width: 950px;
}

.d7_score_board_header {
   background-color: lightblue;
}

.d7_score_board_total {
   background-color: lightgreen;
}

.d7_score_board_inner_table {
}
