/* Alignments */

.center {
    text-align: center;
}

.right {
   text-align: right;
}

.top {
   vertical-align: top;
}

/* Fonts */

.head1 {
   font-size: 24px;
   font-weight: bold;
}

.head2 {
   font-size: 22px;
   font-weight: bold;
}

.text {
   font-size: 20px;
}

/* Sizing and position */

.width100 {
   width: 100%;
   border: 1px;
}

.floatleft {
   float: left;
}

