/* Sizing and position */

.width100 {
   width: 100%;
}

.height100 {
   height: 100%;
}

.floatleft {
   float: left;
}

/* Alignments */

.center {
    text-align: center;
}

.right {
   text-align: right;
}

.bottom {
   vertical-align: bottom;
}

.top {
   vertical-align: top;
}

/* Fonts */

.head1 {
   font-size: 24px;
   font-weight: bold;
}

.head2 {
   font-size: 22px;
   font-weight: bold;
}

.text {
   font-size: 20px;
}

/* notifications related */

.notifications_table {
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   z-index: 1000;
   padding: 5px;
   border-spacing: 10px;
}

.notification_info {
   background-color: rgba(200, 255, 200, 0.8);
   border-radius: 10px;
   text-align: center;
   padding: 10px;
   filter: drop-shadow(2px 2px 2px #a0a0a0);
}

.notification_move {
   background-color: rgba(200, 200, 255, 0.8);
   border-radius: 10px;
   text-align: center;
   padding: 10px;
   filter: drop-shadow(2px 2px 2px #a0a0a0);
}

.notification_error {
   background-color: rgba(255, 200, 200, 0.8);
   border-radius: 10px;
   text-align: center;
   padding: 10px;
   filter: drop-shadow(2px 2px 2px #a0a0a0);
}

