<html>
<head>
   <title>Dirty7 room #{{gid}}</title>
   <script src="/js/ui.js"></script>
   <script src="/js/ui_notifications.js"></script>
   <script src="/js/network.js"></script>
   <script src="/js/cards/cards.js"></script>
   <script src="/js/dirty7/room.js"></script>

   <link rel="stylesheet" href="/css/common.css"></link>
   <link rel="stylesheet" href="/css/card.css"></link>
   <link rel="stylesheet" href="/css/dirty7/room.css"></link>

   <link rel="icon" type="image/png" href="/assets/dirty7_icon.png" />

</head>

<body class="d7_page">
   <div id="divdirty7"></div>

   <script>
   <!--
   var room = new Dirty7Room({{gid}}, document.getElementById("divdirty7"));
   -->
   </script>
</body>
</html>
