<html>
<head>
   <title>Dirty7 room #{{gid}}</title>
   <script src="/js/network.js"></script>
   <script src="/js/ui.js"></script>
   <script src="/js/cards/cards.js"></script>
   <script src="/js/dirty7/room.js"></script>

   <link rel="stylesheet" href="/css/common.css"></link>
   <link rel="stylesheet" href="/css/card.css"></link>
   <link rel="stylesheet" href="/css/dirty7/room.css"></link>

   <link rel="icon" type="image/png" href="/assets/dirty7_icon.png" />

</head>

<body class="d7_page">
   <!--
   <div id="login_bar_holder"></div>

   <table width="950px" class="floatleft" border=1px>
      <tr height="450px">
         <td>

            <table width=100%>
               <tr>
                  <td id="board_holder"></td>
                  <td id="deck_holder"></td>
               </tr>
            </table>

         </td>
      </tr>

      <tr>
         <td width=100% id="self_hand_holder">
            FOO
         </td>
      </tr>
   </table>

   <table width="950px" class="floatleft" border=1px>
      <tr height="450px">
         <td id="other_hand_holder">
            BAR
         </td>
      </tr>
   </table>
   -->
   <div id="divdirty7"></div>

<script>
<!--
var room = new Dirty7Room({{gid}}, document.getElementById("divdirty7"));

/*
var cardrack;
var carddeck;
function onpageload() {
   var room = new Dirty7Room({{gid}}, document.getElementById("divdirty7"));

   var container = document.getElementById("board");
   cardrack = new CardRack(container, "hand", 40);
   var c1 = new Card(cardrack.ui, "H", 1);
   var c2 = new Card(cardrack.ui, "S", 1);
   var c3 = new Card(cardrack.ui, "D", 1);
   var c4 = new Card(cardrack.ui, "C", 1);
   cardrack.append_cards([c1, c2, c3, c4]);
   for (var card of cardrack.cards) {
      card.set_click_action("slide_up");
   }
   vardeck = new CardFaceDownDeck(container, "deck0", 35, 1);
//   new Card(document.getElementById("pa1"), "JOKER", 0);
//   function addSuit(s) {
//      document.getElementById("pa1").appendChild(createLineBreak());
//      var i = 1;
//      for (; i <= 13; i++) {
//         new Card(document.getElementById("pa1"), s, i);
//      }
//   }
//   addSuit("C");
//   addSuit("D");
//   addSuit("H");
//   addSuit("S");
}
*/
-->
</script>

</body>
</html>
