<html>

   <head>
      <title>Durak room #{{gid}}</title>
      <script src="/js/ui.js"></script>
      <script src="/js/network.js"></script>
      <script src="/js/cards/cards.js"></script>
      <script src="/js/durak/room.js"></script>

   <link rel="stylesheet" href="/css/common.css"></link>
      <link rel="stylesheet" href="/css/card.css"></link>
   <link rel="stylesheet" href="/css/durak/room.css"></link>
   </head>

<body>

   <div id="divdurakroom"></div>
   <script>
      <!--
      var room = new DurakRoom({{gid}}, document.getElementById("divdurakroom"));
      -->
   </script>

</body>
</html>

